.img1{
    width:50vw;
    height:400px
}
 
.img2{
    width:30vw;
    height:200px;
}
.img3{
    width:30vw;
    height:200px;
}
.img4{
    width:30vw;
    height:200px;
}
.img5{
    width:30vw;
    height:200px;
}
.img6{
    width:30vw;
    height:200px;
}
.img7{
    width:50vw;
    height:30vw;
}
.img8{
    width:50vw;
    height:30vw;
}
.img9{
    width:50vw;
    height:30vw;
}
.img10{
    width:50vw;
    height:30vw;
}
.img12{
    width:50vw;
    height:30vw;
}
.img13{
    width:50vw;
    height:30vw;
}